* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
}

body {
  background: rgb(112, 75, 214);
  color: white;
  overflow: hidden;
  overflow-y: scroll;
  font-family: "Big Shoulders", sans-serif;
}
